* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: "Lato", sans-serif;
    color: black;
    background: rgb(6,210,226);
    background: linear-gradient(90deg, rgba(6,210,226,1) 34%, rgba(59,48,185,1) 70%);
  }
  

  .container {
    width: 50%;
    height: 70%;
    text-align: center;
    background-color: rgb(241, 237, 237);
    border-radius: 1%;
  }
  
 
  
  h1 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    letter-spacing: 2px;
  }

  h3 {
      font-size: 15px;
      font-weight: lighter;
  }

  .socialMedia {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .socialMedia li {
    margin: 10px 20px;
    list-style: none;
  }
  
  .socialMedia li a {
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .socialMedia li a img {
    width: 20px;
    flex-direction: column;
  }
  

  .inputName {
    display: block;
    width: 300px;
    outline: none;
    border: none;
    padding: 16px;
    margin: 0 auto 10px auto;
    border-radius: 6px;
    font-size: 12px;
    background-color: #bbbbbb;
    
  }

  .buttonCadastro {
    width: 300px;
    border: none;
    margin: 20px 0px 20px 0;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    color: white;
    background-color: #4441fa;
  }
  
  .buttonCadastro:hover {
    color: white;
    background-color: #3835da;
  }

  .login {
    text-decoration: none;
  }